<div class="ui grid">
  <div class "sixteen wide computer column">
    <div class="ui cards">
      <% @locations.each do |location| %>
        <div class="card">
          <div class="image">
            <%= check_if_image_is_present(location) %>
          </div>
          <div class="content">
            <div class="ui center aligned">
              <p><strong><%= location.name %></strong></p>
            </div>
          </div>
          <div class="extra content">
            <%= link_to 'Add to Trip', add_location_path(@trip, location), method: :patch, class: 'ui green button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
