#landing-image {
  background: url("sign-up.jpg") no-repeat center;
  background-size: cover;
  color: white;
  height: 100%;
  max-width: 100%;
  padding: 18%;
    h1 {
      border-radius: 5px;
      color: inherit;
      font-size: 4em;
    }
  }

#sign-up-form {
  background-color: rgba(26, 29, 30, .75);
  padding: 5%;
}

#login-form {
  background-color: #edf1f4;
  box-shadow: 0 10px 6px -6px #777;
  margin: 0 auto;
  margin-top: 10%;
  padding: 5%;
  width: 50%;
}
